---
---

@import "style";
@import "../_sass/syntax";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {

}

// 404-page
.not-found-page {
  margin-top: 100px;
  color: $primary;
  @media screen and (max-width: 600px) {
    margin-top: 50px;
  }
  text-align: center;
  h1 {
    font-size: 6em;
    @media screen and (max-width: 600px) {
      font-size: 4em;
    }
  }
  h2 {
    font-size: 3em;
    margin-top: 50px;
    @media screen and (max-width: 600px) {
      margin-top: 20px;
      font-size: 1.5em;
    }
  }
}

// The highlight on the front page
.front-page-highlights {
  color: $gray-700;
  i {
    color: #F5A128;
  }
}

// Images should never cause horizontal scrolling
img {
  max-width: 100%;
}

// The headline on the front-page
.front-page-highlight {
  background: url("/img/patterns/connectwork.png") repeat;

  border-radius: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;

  @include media-breakpoint-down(sm) {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 40px;
  }

  img {
    max-width: 95%;
    @media screen and (max-width: 600px) {
      max-width: 100%;
    }
  }
}



// Active navbar items should be underlined
.nav-item.active {
  text-decoration-line: underline;
}

// Left to right used to obfuscate the email
.ltr-text {
  unicode-bidi: bidi-override;
  direction: rtl
}

// Proper markdown quotes
blockquote p {
  padding: 2px 8px;
  border-left: 3px solid $gray-400;
  color: $gray-700;
}
/**
 * DROPDOWN IMPROVEMENTS
 */

.dropdown-item strong {
  color: $gray-800;
}

.dropdown-item:hover strong {
  color: $gray-200;
  text-decoration-line: underline;
}

.dropdown-header strong {
  color: $gray-900;
  text-decoration-line: underline;
  font-size: 120%;
}

/**
 * CODE CLOCKS
 */
.highlight {
  background: white;
}
.highlight pre {
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1525);
  border-radius: 2px;
}
pre.highlight {
  font-family: 'Comic Sans MS', monospace !important;
}

/**
 * WIKI
 */
#wiki-headline {
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 2.5em;
  border-bottom: 1px solid $gray-600;
}

.wiki-container h1 {
  padding-bottom: 5px;
  border-bottom: 0.5px solid $gray-400;
}

.wiki-container h2 {
  padding-bottom: 5px;
  border-bottom: 0.5px solid $gray-400;
}

#wiki-footer {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

/*
 * STICKY FOOTER
 */
.page-footer {
  margin-top: auto;
  padding: 40px 160px 48px;
  font-weight: 400;
  position: relative;

  font-size: 12px;

  border-top: 5px solid $blurple;

  background-color: $not-quite-black;
  color: hsla(0,0%,100%,.6);

  a {
    color: hsla(0,0%,100%,.6);
  }

  a:hover {
    color: $white;
  }

  .footer-headline {
    font-size: 14px;
    color: $white;
    margin-bottom: 13px;
    margin-top: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding: 40px 0 48px 20px;
  }
}

html {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100%;
  background-image: url("/img/patterns/crossword.png");
}