---
---

@import "style";
@import "../_sass/syntax";

// Images should never cause horizontal scrolling
img {
  max-width: 100%;
}

.home-jumbotron {
  background: url("../img/bg.jpg") no-repeat 50% 0;
  background-size: cover;
  background-position: center 35%;
  color: white;
  border-radius: 0;
}

// Active navbar items should be underlined
.nav-item.active {
  text-decoration-line: underline;
}

// Left to right used to obfuscate the email
.ltr-text {
  unicode-bidi: bidi-override;
  direction: rtl
}

// Proper markdown quotes
blockquote p {
  padding: 2px 8px;
  border-left: 3px solid $gray-400;
  color: $gray-700;
}
/**
 * DROPDOWN IMPROVEMENTS
 */

.dropdown-item strong {
  color: $gray-800;
}

.dropdown-item:hover strong {
  color: $gray-200;
  text-decoration-line: underline;
}

.dropdown-header strong {
  color: $gray-900;
  text-decoration-line: underline;
  font-size: 120%;
}

/**
 * CODE CLOCKS
 */
.highlight {
  background: #f9f9f9;
}
.highlight pre {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/**
 * WIKI
 */
#wiki-headline {
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 2.5em;
  border-bottom: 1px solid $gray-600;
}

.wiki-container h1 {
  padding-bottom: 5px;
  border-bottom: 0.5px solid $gray-400;
}

.wiki-container h2 {
  padding-bottom: 5px;
  border-bottom: 0.5px solid $gray-400;
}

/*
 * STICKY FOOTER
 */
.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: $primary;
  color: $white;
  text-align: center;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px;
}
.page-footer a {
  color: $white;
  text-align: center;
}