---
layout: default
---
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-3 order-lg-last">
            <div class="wiki-navigation-toggle d-lg-none">
                <a class="btn btn-primary" data-toggle="collapse" href="#wiki-navigation" role="button" aria-expanded="true" aria-controls="wiki-navigation" style="width: 100%">
                    Toggle Navigation
                </a>
                <br><br>
            </div>
            <div class="collapse show" id="wiki-navigation">
                {% for category in site.data.wiki-categories %}
                    <h4>{{ category.title }}</h4>
                    <div class="list-group">
                    {% for item in site.wiki %}
                        {% if item.path contains category.folder %}
                            <a href="{{ item.url }}" class="list-group-item list-group-item-action {%if page.url == item.url %}active{% endif %}">{{ item.title }}</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9 order-lg-first">
            <h1 class="wiki-headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
            {{ content }}
        </div>
    </div>
</div>